<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FLIPKART</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/css1.css">


</head>

<body bgcolor="#F1F3F6">

    <style>
        img{
            width: inherit;
        }
    </style>

    <table border="0" width="100%" bgcolor="#2874FO" height="6%">
        <tr>
            <td align="left"><img src="C:\Users\HP\Desktop\9.jpg" width="40%" height="90%"></td>
            <td><input type="text" width="90%" placeholder="search for product,brands and more"
                    style="width:550px;height:30px;">
                <input type="button" value="search" style="width:55px; height:30px;">
            </td>
            <th><a href="/signup">
                    <font color="white">Login and signup</font>
                </a>
            <th>
            <th>
                <font color="white">More</font>
            </th>
            <td align="right"><img src="C:\Users\HP\Desktop\12.jpg" width="30%" height="10%"></td>
        </tr>
    </table>


    <table border="0" width="100%" height="8%" bgcolor="white">
        <tr>


            <th width="12.5%">
                <div class="dropdown">
                    <span>Electronics</span>
                    <div class="dropdown-content">
                        <p>Mobile</p>
                        <p>Tablet</p>
                        <p>Fridge</p>
                        <p>Laptop</p>
                        <p>Earphone</p>
                    </div>
            </th>

            <th width="12.5%">
                <div class="dropdown">
                    <span>Tvs & Application</span>
                    <div class="dropdown-content">
                        <p>Mi</p>
                        <p>Realme</p>
                        <p>Samsung</p>
                        <p>LG</p>
                        <p>Sony</p>
                    </div>
            </th>


            <th width="12.5%">
                <div class="dropdown">
                    <span>Men</span>
                    <div class="dropdown-content">
                        <p>T-Shirt</p>
                        <p>Full-Shirt</p>
                        <p>Pant</p>
                        <p>Jeans</p>
                        <p>Half-Pant</p>
                    </div>
            </th>

            <th width="12.5%">
                <div class="dropdown">
                    <span>Women</span>
                    <div class="dropdown-content">
                        <p>T-Shirt</p>
                        <p>Pant</p>
                        <p>Jeans</p>
                        <p>Hot-Pant</p>
                        <p>Shirt</p>
                    </div>
            </th>
            <th width="12.5%">
                <div class="dropdown">
                    <span>Baby & Kinds</span>
                    <div class="dropdown-content">
                        <p>T-Shirt</p>
                        <p>Pant</p>
                        <p>Jeans</p>
                        <p>Hot-Pant</p>
                        <p>Shirt</p>
                    </div>
            </th>
            <th width="12.5%">
                <div class="dropdown">
                    <span>Home & Furniture</span>
                    <div class="dropdown-content">
                        <p>Bed</p>
                        <p>Chair</p>
                        <p>table</p>
                        <p>Table-Cloth</p>
                        <p>clock</p>
                    </div>
            </th>

            <th width="12.5%">
                <div class="dropdown">
                    <span>Sport &More</span>
                    <div class="dropdown-content">
                        <p>Badminton</p>
                        <p>Bad</p>
                        <p>Ball</p>
                        <p>Tennis</p>
                        <p>Chess</p>
                    </div>
            </th>

            <th width="12.5%">
                <div class="dropdown">
                    <span>Offer zone</span>
                    <div class="dropdown-content">
                        <p>T-Shirt</p>
                        <p>Pant</p>
                        <p>Jeans</p>
                        <p>Hot-Pant</pz>
                        <p>Shirt</p>
                    </div>

            </th>
    </table>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/image/OIP (11).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (12).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (14).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (13).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (15).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (16).jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/th.jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/R.jpeg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/image/OIP (11).jpeg" class="d-block w-100">
            </div>
        </div>
    </div>


    <br><br>

    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>School bag</h2>
                <hr>
            </td>
        <tr>
            <th><img src="/image/OIP (1).jpeg" width="75%"></th>
            <th><img src="/image/OIP (2).jpeg" width="75%"></th>
            <th><img src="/image/OIP (3).jpeg" width="75%"></th>
            <th><img src="/image/OIP (4).jpeg" width="75%"></th>
            <th><img src="/image/OIP (5).jpeg" width="75%"></th>
        </tr>
        <tr>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
        </tr>

        <tr>
            <td align="center">Price:<font color="green">1000/-</td>
            <td align="center">Price:<font color="green">900/-</td>
            <td align="center">Price:<font color="green">1199/-</td>
            <td align="center">Price:<font color="green">1080/-</td>
            <td align="center">Price:<font color="green">1050/-</td>
        </tr>
        <tr>
            <th><a href="/s1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/s2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/s3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/s4"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/s5"><input type="button" value="see details" style="color:green;"></a></th>
        </tr>


    </table>
    <br>
    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>Mobile</h2>
                <hr>
            </td>
        <tr>
            <th><img src="/image/OIP (6).jpeg" width="75%" height="10%"></th>
            <th><img src="/image/download.jpeg" width="75%"></th>
            <th><img src="/image/OIP (7).jpeg" width="75%"></th>
            <th><img src="/image/download (1).jpeg" width="75%"></th>
            <th><img src="/image/download (2).jpeg" width="75%"></th>
        </tr>
        <tr>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
        </tr>
        <tr>
            <td align="center">Price:<font color="green">10000/-</font>/-</td>
            <td align="center">Price:<font color="green">20000/-</td>
            <td align="center">Price:<font color="green">35000/-</td>
            <td align="center">Price:<font color="green">80000/-</td>
            <td align="center">Price:<font color="green">125000/-</td>
        </tr>
        <tr>
            <th><a href="/m1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/m2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/m3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/m4"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/m5"><input type="button" value="see details" style="color:green;"></a></th>
        </tr>
    </table>
    <br>






    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>shoes</h2>
                <hr>
            </td>
        <tr>
            <th><img src="/image/download (3).jpeg" width="75%" height="10%"></th>
            <th><img src="/image/C:\Users\HP\Desktop\s2.webp" width="75%"></th>
            <th><img src="/image/OIP (8).jpeg" width="75%"></th>
            <th><img src="/image/OIP (9).jpeg" width="75%"></th>
            <th><img src="/image/OIP (10).jpeg" width="75%"></th>
        </tr>
        <tr>

            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
        </tr>
        <tr>
            <td align="center">Price:<font color="green">4000/-</td>
            <td align="center">Price:<font color="green">1500/-</td>
            <td align="center">Price:<font color="green">1500/-</td>
            <td align="center">Price:<font color="green">1599/-</td>
            <td align="center">Price:<font color="green">1199/-</td>
        </tr>
        <tr>
            <th><a href="/j1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/j2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/j3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/j4"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/j5"><input type="button" value="see details" style="color:green;"></a></th>
        </tr>
    </table>
    <br>




    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>Toys</h2>
                <hr>
            </td>

        <tr>
            <th><img src="/image/OIP (21).jpeg" width="75%" height="10%"></th>
            <th><img src="/image/OIP (22).jpeg" width="75%"></th>
            <th><img src="/image/OIP (23).jpeg" width="75%"></th>
            <th><img src="/image/download (5).jpeg" width="75%"></th>
            <th><img src="/image/download (6).jpeg" width="75%"></th>
        </tr>
        <tr>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
        </tr>
        <tr>
            <td align="center">Price:<font color="green">200/-</td>
            <td align="center">Price:<font color="green">400/-</td>
            <td align="center">Price:<font color="green">500/-</td>
            <td align="center">Price:<font color="green">100/-</td>
            <td align="center">Price:<font color="green">150/-</td>
        </tr>
        <tr>
            <th><a href="/t"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/t1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/t2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/t3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/t4"><input type="button" value="see details" style="color:green;"></a></th>

        </tr>
    </table>
    <br>




    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>Earphones</h2>
                <hr>
            </td>
        <tr>
            <th><img src="/image/download (4).jpeg" width="75%" height="10%"></th>
            <th><img src="/image/OIP (17).jpeg" width="75%"></th>
            <th><img src="/image/OIP (18).jpeg" width="75%"></th>
            <th><img src="/image/OIP (19).jpeg" width="75%"></th>
            <th><img src="/image/OIP (20).jpeg" width="75%"></th>
        </tr>
        <tr>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
            </th>
        </tr>

        <tr>
            <td align="center">Price:<font color="green">200/-</td>
            <td align="center">Price:<font color="green">150/-</td>
            <td align="center">Price:<font color="green">300/-</td>
            <td align="center">Price:<font color="green">150/-</td>
            <td align="center">Price:<font color="green">140/-</td>
        </tr>
        <tr>
            <th><a href="/k1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/k2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/k3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/k4"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/k5"><input type="button" value="see details" style="color:green;"></a></th>
        </tr>
    </table>

    <table border="0" width="100%" bgcolor="white">
        <tr>
            <td colspan="5">
                <h2>T-shirt</h2>
                <hr>
            </td>
        <tr>
            <th><img src="/image/OIP (24).jpeg" width="75%" height="10%"></th>
            <th><img src="/image/OIP (25).jpeg" width="75%"></th>
            <th><img src="/image/OIP (26).jpeg" width="75%"></th>
            <th><img src="/image/download (7).jpeg" width="75%"></th>
            <th><img src="/image/download (8).jpeg" width="75%"></th>
        </tr>
        <tr>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked"></span>
            </th>
            <th>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked" style="color:green;"></span>
                <span class="fa fa-star checked"></span>
            </th>
        </tr>

        <tr>
            <td align="center">Price:<font color="green">800/-</td>
            <td align="center">Price:<font color="green">850/-</td>
            <td align="center">Price:<font color="green">300/-</td>
            <td align="center">Price:<font color="green">400/-</td>
            <td align="center">Price:<font color="green">500/-</td>
        </tr>
        <tr>
            <th><a href="/l1"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/l2"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/l3"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/l4"><input type="button" value="see details" style="color:green;"></a></th>
            <th><a href="/l5"><input type="button" value="see details" style="color:green;"></a></th>
        </tr>
    </table>



</body>

</html>