<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="OIP (10).jpeg"></th>
                        <td><b>CAMPUS</b><br>
                        
                         Revolution 5 running shoes for man(Black)
                        <br><br>
                        
                      COLOR- BLACK/WHITE-ANTHRA....
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" ></span>
                        <span class="fa fa-star checked" ></span>
                        <br>
                        <b>price-1199 /-</b><br></br>
                                This is a genuine product of nike india<br> 
                                private limited.The product come with<br>
                                 a standard brand warranty of 180 days.<br><br>
                                 <b>PRODUCT DETAILS</b>
                                 <br>
                                 Nike revolution 5<br>
                                 Men's running shoes<br>
                                 MINIMALIST AND LIGHT WEIGHT<br>
                                 The Nike Revolution 5 cushion your stride with<br>
                                  soft foam to keep you running in comport. Light <br>
                                  weight knit material wraps your foot in breathable <br>
                                  support,while a minimalist design fit in just about <br>
                                  anywhere your day takes you. <br>
                                  <b>MORE DETAILS</b><br>
                                  Soft sockliner<br>
                                  Plush lining<br>
                                  Weight: 10.65oz(Men size 10)<br>
                                  offset: 10mm(For foot: 14.5mm,Heel: 24.5mm)<br>


                                      <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                        
                        
                </tr>
            </table>

        </body>