<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="OIP (7).jpeg"></th>
                        <td><b>ONE PLUS NORD 2T 5G</b>
                        <br><br>
                        
                        (JADE FOG,256GB)(12GB RAM)
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" ></span>
                        <br>
                        <b>price-35000/-</b><br></br>
                        Ram|Rom<br><b>12GB,256GB </b><br>
                        Processor <br><b>Media Tek Dimensity 800U</b><br>octa core 2.4GHz<br>
                        Rear camera<br><b>50MP+8MP+2MP</b> <br>
                            
                         Display<br><b>6.35 inch HD+in-cell LCD</b><br>
                            Battery<br><b>4500mAh</b> <br>
                       
                      
                          <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                          </td>
                          <td align="left">
                            <b>OTHER DETAILS</b><br>
                            Network type<br>
                            <b>5G</b><br>
                            Sim type<br>
                            <b>Dual sim</b><br>
                            Expandable storage<br>
                            <b>No</b><br>
                            Audio jack<br>
                            <b>No</b><br>
                            Quick charging<br>
                            <b>No</b><br>
                            in the box<br>
                            <b>Hand set, Power adapter<br>Micro-usb cable,Sim Ejector tool<br>user guide,Warrantly card<br></b>

                          </td>
                        
                        
                </tr>
            </table>

        </body>