<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="download (1).jpeg"></th>
                        <td><b>IPHONE 13 PRO </b>
                        <br><br>
                        
                        (PINK,256GB)
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" ></span>
                        <br>
                        <b>price-120000 /-</b><br></br>
                        Ram|Rom<br><b>256GB </b><br>
                        Processor <br><b>Media Tek Dimensity 800U</b><br>octa core 2.4GHz<br>
                        Rear camera<br><b>12MP+12MP+12MP with flash</b> <br>
                            Front Camera<br><b>12MP</b><br>
                         Display<br><b>6.35 inch super retina xDR Display</b><br>
                            Battery<br><b>5000mAh</b> <br>
                       
                          <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                          </td>
                          <td align="left">
                            <b>OTHER DETAILS</b><br>
                            Network type<br>
                            <b>5G,4G,3G,2G</b><br>
                            Sim type<br>
                            <b>Dual sim</b><br>
                            Expandable storage<br>
                            <b>No</b><br>
                            Audio jack<br>
                            <b>No</b><br>
                            Quick charging<br>
                            <b>Yes</b><br>
                            in the box<br>
                            <b>Hand set, Power adapter<br>Micro-usb cable,Sim Ejector tool<br>user guide,Warrantly card<br></b>

                          </td>
                        
                        
                </tr>
            </table>

        </body>