<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="download (2).jpeg"></th>
                        <td><b>SAMSUNG GALAXY S22 5G</b>
                        <br><br>
                        
                        (PHANTOM WHITE,256GB)(8 GB RAM)
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked"></span>
                        <br>
                        <b>price-67000 /-</b><br></br>
                        Ram|Rom<br><b>8GB,256GB </b><br>
                        Processor <br><b>Octa core</b><br>octa core 2.3 GHz<br>
                        Rear camera<br><b>50MP+12MP+10MP</b> <br>
                            Front Camera<br><b>10MP</b><br>
                         Display<br><b>6.35 inchdynamic amoled 2x Display </b><br>
                            Battery<br><b>5000mAh</b> <br>
                       
                       
                          <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                          </td>
                          <td align="left">
                            <b>OTHER DETAILS</b><br>
                            Network type<br>
                            <b>4G,3G,2G</b><br>
                            Sim type<br>
                            <b>Dual sim</b><br>
                            Expandable storage<br>
                            <b>Yes</b><br>
                            Audio jack<br>
                            <b>Yes</b><br>
                            Quick charging<br>
                            <b>No</b><br>
                            in the box<br>
                            <b>Hand set, Power adapter<br>Micro-usb cable,Sim Ejector tool<br>user guide,Warrantly card<br></b>

                          </td>
                        
                        
                </tr>
            </table>

        </body>