<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/pcstyle.css">
    <title>Varification</title>
</head>

<body id="otpbody">
    <nav>
        <h1>Varification</h1>
    </nav>
    <div>
        <form action="/otpverify" method="post">
            <input inputmode="numeric" name="eotp" id="otpbox">
            <input type="submit" value="submit" id="otpbtn">
        </form>
    </div>
</body>
</html>