<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="/image/OIP (1).jpeg"></th>
                        <td><b>URBAN CARRIER</b>
                        <br><br>
                        
                        Large 45 liter laptop backpack medium 45 liters laptop backpack multicolor Grey white laptop backpack
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked"></span>
                        <br>
                       <b>price-1000 /-</b><br><br>
                        
                       <b> Product Details</b>
                        <br>
                        
                        Laptop Sleeve -                         yes <br>
                        With rain cover-                  Noframes <br>
                        Color            -     multicolor <br>
                        Number of Compartment -          5 <br>
                        Capacity   -             45l <br>
                        Details <br>
                        This smart bag for urban carrier super Quality Assured provide by customer its<br>
                         unisex Backpack,laptop bags, college bags,also is the light weight premium trendy<br>
                          and tough. The starp are to reduce of teh weight off shoulder.
                          <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                          </td>
                        
                        
                </tr>
            </table>

        </body>