<html>
    <head>
             
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="
             http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             
        </head>
        <body>
            <table border="0" width="100%">
                <tr>
                    <th><image src="OIP (22).jpeg"></th>
                        <td><b>baby doll</b><br>
                            It is the use for small baby.It is the most funny things for child.<br>
                            it is used for gift a small child in his/her birthday.
                        <br><br>
                        
                      COLOR- BLACK/WHITE-ANTHRA....
                        <br>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked" style="color:green;"></span>
                        <span class="fa fa-star checked"></span>
                        <br>
                        <b>price-200/-</b><br></br>
                        This is a product of child

                            


                                      <br>
                          <input type="button" value="Add to cart"style="background-color:orange;color:white;width:150px;">
                          <input type="button" value="Buy Now"style="background-color:green;color:white;width:150px;">
                        
                        
                </tr>
            </table>

        </body>